<div class="section group">
        <div class="col span_4_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/ensonaciones/carta1.jpg" alt="" style="width: 94%;"/>
	</div>
	<div class="col span_4_of_12">	
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/ensonaciones/carta2.jpg" alt="" style="width: 94%;"/>
	</div>
	<div class="col span_4_of_12">	
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/ensonaciones/pinocho.jpg" alt="" style="width: 99.5%;"/>
	</div>
</div>

<div class="section group">
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/ensonaciones/oso_polar.jpg" alt=""/>
	</div>
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/ensonaciones/ciervo_arena.jpg" alt=""/>
	</div>
</div>
