<div class="section group">
  <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/collage.jpg" alt=""/>
  </div><div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/oso.jpg" alt=""/>
  </div>
</div>
<div class="section group">
  <div class="col span_4_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/huevo1.jpg" alt=""/>
  </div><div class="col span_4_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/huevo2.jpg" alt=""/>
  </div>
  <div class="col span_4_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/huevo3.jpg" alt=""/>
  </div>
</div>
<div class="section group">
  <div class="col span_4_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/huevo4.jpg" alt=""/>
  </div><div class="col span_4_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/huevo5.jpg" alt=""/>
  </div>
  <div class="col span_4_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/huevo6.jpg" alt=""/>
  </div>
</div>
<div class="section group">
  <div class="col span_4_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/reducido_02.jpg" alt=""/>
	</div><div class="col span_4_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/reducido_03.jpg" alt=""/>
	</div>
<div class="col span_4_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/albumilustrado/reducido_01.jpg" alt=""/>
	</div>	
</div>
