<div class="section group">
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/infantil/nino_arbol.jpg" alt="" style="width: 97.5%;"/>
	</div>
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/infantil/rey.jpg" alt=""/>
	</div>
</div>
<div class="section group">
  <div class="col span_6_of_12">
    <div class="col span_12_of_12">
      <img class="image_enlarge" src="{{ site.baseurl }}/img/infantil/mercadillo.jpg" alt=""/>	
    </div>
  </div>
  <div class="col span_1_of_12"></div>
  <div class="col span_4_of_12">
	<img class="image_enlarge" src="{{ site.baseurl }}/img/infantil/arrozales.jpg" alt=""/>
  </div>
</div>
