<div class="section group">
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/personajes/personaje_vestuario.jpg" alt=""/>
	</div>
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/personajes/renny.jpg" alt=""/>
	</div>
</div>
<div class="section group">
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/personajes/pippe.jpg" alt=""/>
	</div>
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/personajes/proyecto3.jpg" alt=""/>
	</div>
</div>
<div class="section group">
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/personajes/personaje2.jpg" alt=""/>
	</div>
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/personajes/pajaros_personaje.jpeg" alt=""/>
	</div>
</div>
<div class="section group">
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/personajes/bombero.jpg" alt=""/>
	</div>
</div>

