<div class="section group">
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/editorial/bella_durmiente.jpg" alt=""/>
	</div>
	<div class="col span_6_of_12">	
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/editorial/los_pajaros.jpg" alt=""/>
	</div>
</div>
<div class="section group">
	<div class="col span_4_of_12">	
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/editorial/el_loco_balanza.jpg" alt=""/>
	</div>
	<div class="col span_4_of_12">	
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/editorial/el_loco_sombrero.jpg" alt=""/>
	</div>
	<div class="col span_4_of_12">	
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/editorial/el_loco_sonambulas.jpg" alt=""/>
	</div>
</div>
<div class="section group">
	<div class="col span_6_of_12">	
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/editorial/lagrimas_monstruo.jpg" alt=""/>
	</div>
	<div class="col span_6_of_12">	
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/editorial/islacrimea_mockup.jpg" alt=""/>
	</div>
</div>

