<div class="section group">
        <div class="col span_2_of_12"></div>
        <div class="col span_8_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/varios/amanecer.jpg" alt=""/>
	</div>
        <div class="col span_2_of_12"></div>
</div>
<div class="section group">
        <div class="col span_2_of_12"></div>
	<div class="col span_8_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/varios/campos.jpg" alt=""/>
	</div>
        <div class="col span_2_of_12"></div>	
</div>
<div class="section group">
        <div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/varios/burguer.jpg" alt=""/>
	</div>
	<div class="col span_6_of_12">
	  <img class="image_enlarge" src="{{ site.baseurl }}/img/varios/props.jpg" alt=""/>
	</div>
</div>
