<header class="site-header">
  <div class="site-nav-bose">
    <nav class="site-nav">
      <a class="image-nav" href="{{ site.baseurl }}/">
	<img class="image-nav" src="{{ site.baseurl }}/img/cabecera_web_proporcionada.jpg">
      </a>
      <a class "icon_main" href="mailto:info@oceluna.com"><i class="icon_main fa fa-envelope-square" style="font-size: 30px;"></i></a>
      <a class "icon_main" href="https://www.linkedin.com/in/cristina-villar-fern%C3%A1ndez-b2655b144/" target="_blank"><i class="fa fa-linkedin-square icon_main" style="font-size: 30px;"></i></a>
      <a class "icon_main" href="https://www.facebook.com/mundo.oceluna/" target="_blank"><i class="fa fa-facebook-square icon_main" style="font-size: 30px;"></i></a>
      <a class "icon_main" href="https://twitter.com/OcelunaZamora" target="_blank"><i class="fa fa-twitter-square icon_main" style="font-size: 30px;"></i></a>
      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">portfolio</a>

        {% for page in site.pages %}
        {% if page.title %}
	{% if page.bold_title %}
        <a class="page-link-bold" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	{% else %}
	<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	{% endif %}
        {% endif %}
        {% endfor %}

      </div>
      </div>
    </nav>

  </div>

</header>
